<section class="bg-gray-200">
    <div class="bg-white  px-6 py-8 mx-auto lg:py-0 shadow dark:border ">
       
        <label class="cursor-pointer font-semibold font-serif">
            <h1 class="mt-5">Mark as Paid</h1>
            <input type="checkbox" value="" class="sr-only peer">
            <div class="relative w-11 h-6 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300  rounded-full peer bg-gray-500 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all  peer-checked:bg-blue-600"></div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300"></span>
        </label>
        <div>
            <h1 class="font-serif font-semibold">
                Payment Type
            </h1>
            <div class="mt-4">
                <button type="button" class="text-black bg-gray-300 hover:bg-blue-200 focus:ring-4 focus:ring-blue-400 font-medium rounded-3xl text-sm px-5 py-2.5 me-2 mb-2   focus:outline-none dark:focus:ring-blue-400" (click)="setPaymentType('UPI')">UPI</button>
                <button type="button" class="text-black bg-gray-300 hover:bg-green-200 focus:ring-4 focus:ring-green-400 font-medium rounded-3xl text-sm px-5 py-2.5 me-2 mb-2   focus:outline-none dark:focus:ring-green-400" (click)="setPaymentType('Cash')">Cash</button>
                <button type="button" class="text-black bg-gray-300 hover:bg-pink-200 focus:ring-4 focus:ring-pink-400 font-medium rounded-3xl text-sm px-5 py-2.5 me-2 mb-2   focus:outline-none dark:focus:ring-pink-400"  (click)="setPaymentType('Card')">Card</button>
                <button type="button" class="text-black bg-gray-300 hover:bg-red-200 focus:ring-4 focus:ring-red-400 font-medium rounded-3xl text-sm px-5 py-2.5 me-2 mb-2   focus:outline-none dark:focus:ring-red-400" (click)="setPaymentType('Net Banking')">Net Banking</button>
                <button type="button" class="text-black bg-gray-300 hover:bg-purple-300 focus:ring-4 focus:ring-purple-400 font-medium rounded-3xl text-sm px-5 py-2.5 me-2 mb-2   focus:outline-none dark:focus:ring-purple-400" (click)="setPaymentType('Cheque')">Cheque</button>
                <button type="button" class="text-black bg-gray-300 hover:bg-lime-200 focus:ring-4 focus:ring-lime-400 font-medium rounded-3xl text-sm px-5 py-2.5 me-2 mb-2   focus:outline-none dark:focus:ring-lime-400"  (click)="setPaymentType('EMI')">EMI</button>
            </div>
        </div>
        <div class="mt-4">
            <div class="">
                <h1 class="font-serif font-semibold">Payment Date</h1>
            </div>
            <div class=" ">
                <input type="date" class="w-52 text-black focus:ring-4 bg-gray-200 focus:ring-gray-400 font-medium rounded-3xl text-sm px-5 py-2.5 me-2 mb-2   focus:outline-none dark:focus:ring-gray-400" >
            </div>
        </div>
        <div *ngIf="showBankSelect">
            <div>
                <label for="countries" class="block mb-2 text-sm font-semibold text-gray-900 dark:text-black font-serif "><b class="text-red-600  text-xl">*</b>Select Bank</label>
                    <select id="select" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:border-gray-300 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="PO1">Indian Bank</option>
                        <option value="PO2">SBI</option>
                    </select>
            </div>
        </div>
        <div class="mt-4">

        </div>
    </div>

</section>
